.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[code]
.venv

# C extensions
*.so

# Distribution / packaging
.Python
.env
env/
bin/
var/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
*.pot

# Vscode stuff:
*.vscode

# fe ignore
*node_modules