// media
$w-tablet: 700px;

// colors
$c-black: #222;

$c-grey-b: #f2f2f2;
$c-grey: #c0c0c0;
$c-grey-light: #f9f9f9;

$c-white: #fff;

$c-red: #e23b3b;

$c-green: #35d261;

$c-main-purple: #23213e;
$c-main-blue: #484f6b;
$c-main-brown: #9d8b9a;
$c-main-orange: #cfaca8;
$c-main-white: #f4e9e3;