@import '../../styles/variables.scss';

.container {
  height: 300px;
  max-width: $w-desktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $c-grey-b;
}

.items {
  &_box {
    position:absolute;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_logo {
    &_img {
      height: 70px;
    }
  }
}

.info_box {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: white;
  max-width: 400px;
  height: 170px;
  border: 1px solid #cccccc;
  color: $c-black;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-top: 3px;
  line-height: 14px;
}
